    body {
        padding: 0;
        margin: 0;
    }
    
    #showCase2_Bg {
        background-image: url("2.png");
        height: 100vh;
        overflow: hidden;
    }
    
    #page-container {
        position: relative;
        min-height: 100vh;
        height: 100vh;
    }
    
    #footer {
        bottom: 0;
        width: 100%;
    }
    
    #Logo path:nth-child(2) {
        stroke-dasharray: 233px;
        stroke-dashoffset: 233px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(3) {
        stroke-dasharray: 89px;
        stroke-dashoffset: 89px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(4) {
        stroke-dasharray: 218px;
        stroke-dashoffset: 218px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(5) {
        stroke-dasharray: 105px;
        stroke-dashoffset: 105px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 1.1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(6) {
        stroke-dasharray: 100px;
        stroke-dashoffset: 100px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 1.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(7) {
        stroke-dasharray: 164px;
        stroke-dashoffset: 164px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 1.7s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(8) {
        stroke-dasharray: 115px;
        stroke-dashoffset: 115px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(9) {
        stroke-dasharray: 125px;
        stroke-dashoffset: 125px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 2.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(10) {
        stroke-dasharray: 100px;
        stroke-dashoffset: 100px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 2.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(11) {
        stroke-dasharray: 115px;
        stroke-dashoffset: 115px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    #Logo path:nth-child(12) {
        stroke-dasharray: 83px;
        stroke-dashoffset: 83px;
        animation-name: logo-anim;
        animation-duration: 0.5s;
        animation-delay: 2.6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes logo-anim {
        to {
            stroke-dashoffset: 0%;
        }
    }
    
    @keyframes fill-anim {
        from {
            fill: transparent;
        }
        to {
            fill: white;
        }
    }
    
    @-webkit-keyframes logo-anim {
        to {
            stroke-dashoffset: 0%;
        }
    }
    
    @-moz-keyframes logo-anim {
        to {
            stroke-dashoffset: 0;
        }
    }
    
    @-o-keyframes logo-anim {
        to {
            stroke-dashoffset: 0;
        }
    }
    
    @-ms-keyframes logo-anim {
        to {
            stroke-dashoffset: 0;
        }
    }
    
    ul>li:hover {
        color: white;
        border-style: none;
        border-bottom: 1px solid black;
    }
    
    ul>li:active {
        color: white;
        border-style: none;
        border-bottom: 1px solid black;
    }
    
    .bi-arrow-up-circle {
        color: white;
    }
    
    .bi-tiktok {
        color: white;
    }
    
    .bi-youtube {
        color: white;
    }
    
    .bi-instagram {
        color: white;
    }
    
    footer>div>div>div>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: left;
        display: inline;
    }
    
    footer>div>div>div>ul>li {
        display: inline;
        list-style-type: none;
        margin: 5px;
        padding: 5px;
        float: left;
    }